<nav>
    <div class="siteName">
        <h1><a href="/">Quote-Me</a></h1>
    </div>
    <ul>
        <% for(let i = 0; i < links.length; i++) { %>
            <li>
                <a href="<%= links[i].href %>">
                    <span> <%= links[i].text %> </span>
                </a>
            </li>
        <% } %>
    </ul>
</nav>