<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <header>
        <a href="/">
            <h2>
                <img src="/imgs/arrow-left.svg" alt="Icon for left arrow" class="leftArrow">Back
            </h2>
        </a>
    </header>

    <main>
        <div class="content">
            <h2>Page not found</h2>
        </div>    
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>